<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login - MiniMarket</title>

    <link rel="stylesheet" href="/css/login.css">

</head>

<body>

<div class="login">

    <h1>🛒 MiniMarket</h1>

    <p>Iniciar sesión</p>

    <form id="formLogin">

        <input
            type="text"
            id="usuario"
            placeholder="Usuario"
            autocomplete="username"
            required>

        <input
            type="password"
            id="contraseña"
            placeholder="Contraseña"
            autocomplete="current-password"
            required>

        <button type="submit">

            Ingresar

        </button>

    </form>

    <p id="mensaje"></p>

</div>

<script src="/js/login.js"></script>

</body>

</html>